body{
    background-color: #191919;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    color: #FDF9F7;
    margin: 0;
}
header{
    background-color: #2d4263;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 80px;
    z-index: 100;
}
#menu-toogle{
    display: none;
}
.menu-icon{
    display: none;
}
.pages{
    text-align: left;
}
.pages ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.pages a{
    text-decoration: none;
    color: #FDF9F7;
}
.buscar form input{
    border: none;
    background-color: #FDF9F7;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    padding: 0 20px;
}
.buttons{
    display: flex;
    gap: 20px;
}
#user-toogle{
    display: none;
}
.user-icon{
    font-size: 28px;
    cursor: pointer;
}
.user-options ul {
    visibility: hidden;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    background-color: #2d4263;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    max-width: 150px;
    transition: max-height 0.3s ease;
    z-index: 10;
    padding: 10px;
}
.user-options ul li{
    margin:5px 0;
    background-color: #546DA6;
    padding: 10px 0;
    list-style: none;
    border-radius: 10px;
}
.user-options ul .logout{
    background-color: #c84b31;
}
.user-options ul li a{
    text-decoration:none;   
    color: #FDF9F7;
}
.user-options .logout{
    color: #c84b31;
}
#user-toogle:checked+.user-icon+.user-options ul {
    visibility: visible;
    max-height: 400px;
    max-width: 150px;
}
.bt-download{
    border: none;
    background-color: #2d4263;
}
.bt-download i{
    color: #FDF9F7;
    font-size: 28px;
    cursor: pointer;
}
main{
    width: 1100px;
    margin: 0 auto;
}
.ofertas-box{
    margin: 0 auto;
    background-color:#3B3B3B;
    display: flex;
    width: 1100px;
    height: 380px;
    align-items: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    z-index:11;
}
.carrusel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
.oferta{
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.oferta-text{
    margin: 0 30px;
}
.oferta-text p{
    text-align: justify;
}
.bt-precio{
    border: none;
    background-color: #c84b31;
    color: #FDF9F7;
    padding: 15px;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
}
.oferta img{
    width: 670px;
    height: 380px;
    object-fit: cover;
}
input[type="radio"]{
    display: none;
}
.slides{
    display: flex;
    transition: transform 0.5s ease;
    padding: 0 60px;
    gap: 120px;
}
#slide1:checked ~ .slides {
  transform: translateX(0%);
}
#slide2:checked ~ .slides {
  transform: translateX(-100%);
}
#slide3:checked ~ .slides {
  transform: translateX(-200%);
}
.controles {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.puntos {
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  background-color: #888;
  cursor: pointer;
  transition: background 0.3s;
}
.bt-oferta-prev,
.bt-oferta-next {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  background:#546DA6;
  padding: 60px 10px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
}
.bt-oferta-prev {
  left: 10px;
}
.bt-oferta-next {
  right: 10px;
}

#slide1:checked ~ .bt-oferta-prev.b1,
#slide1:checked ~ .bt-oferta-next.b1 {
  display: block;
}

#slide2:checked ~ .bt-oferta-prev.b2,
#slide2:checked ~ .bt-oferta-next.b2 {
  display: block;
}

#slide3:checked ~ .bt-oferta-prev.b3,
#slide3:checked ~ .bt-oferta-next.b3 {
  display: block;
}