/*Configuracion general*/
body {
  background-color: #0A151F;
  font-family: Arial, Helvetica, sans-serif;
  color: #FDF9F7;
  margin: 0;
}

/*Configuracion Header*/
header {
  background-color: #17448C;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/*Configuracion menu oculto para responsividad*/
#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
  cursor: pointer;
}

/*Configuracion pagians de inicio*/

.pages ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
.pages a {
  text-decoration: none;
  color: #FDF9F7;
}
.ahora {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/*Configuracion Header barra de busqueda*/
.buscar form input {
  border: none;
  background-color: #FDF9F7;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding: 0 20px;
}

/*Configuracion Header botones descarga y usuario*/
.buttons {
  align-items: center;
  display: flex;
  gap: 20px;
}

/*Configuracion Header usuario*/
#user-toogle {
  display: none;
}

.user-icon {
  font-size: 28px;
  cursor: pointer;
}

.button-us {
  position: relative;
  display: inline-block;
}

.user-options {
  display: none;
  position: absolute;
  top: 130%;
  right: 0;
  width: 150px;
  background-color: #1F2228;
  z-index: 10;
}

.user-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-options li {
  padding: 10px;
}

.user-options li:hover {
  background-color: #FDF9F7;
  color: #1F2228;
}

.user-options a {
  text-decoration: none;
  color: #FDF9F7;
}

.user-options ul .logout {
  background-color: #c84b31;
}

.user-options ul .logout:hover {
  background-color: #FDF9F7;
  color: #c84b31;
}

#user-toogle:checked+.user-icon+.user-options {
  display: block;
}

/*Configuracion Header boton descargar*/
.bt-download {
  font-size: 28px;
  border: none;
  background-color: #17448C;
  color: #FDF9F7;
  cursor: pointer;
}

/*Configuracion Header Responsividad*/

@media (max-width: 900px) {
  .menu-icon {
    display: block;
    font-size: 28px;
  }

  .pages ul {
    position: absolute;
    left: 0;
    top: 80px;
    background-color: #17448C;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    visibility: hidden;
    z-index: 10;
  }

  .buscar {
    display: none;
  }

  #menu-toggle:checked+.menu-icon+.logo+.pages ul {
    visibility: visible;
  }
}

/*Configuracion Main*/
main {
  max-width: 1100px;
  margin: 0 auto;
}

/*Configuracion Main Ofertas*/

.carrusel {
  background-color: #3D4450;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.oferta {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.oferta-text {
  margin: 0 30px;
  text-align: justify;
}

.bt-precio {
  border: none;
  background-color: #c84b31;
  color: #FDF9F7;
  padding: 15px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.oferta img {
  width: 670px;
  height: 380px;
  object-fit: cover;
}

input[type="radio"] {
  display: none;
}

.of-slides {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0 60px;
  gap: 120px;
}

#of-slide1:checked~.of-slides {
  transform: translateX(0%);
}

#of-slide2:checked~.of-slides {
  transform: translateX(-100%);
}

#of-slide3:checked~.of-slides {
  transform: translateX(-200%);
}

.controles {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.puntos {
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  background-color: #888;
  cursor: pointer;
  transition: background 0.3s;
}
.puntos:hover{
  background-color:#17448C;
}

.bt-oferta-prev,
.bt-oferta-next {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 15% 15px;
  font-size: 30px;
  cursor: pointer;
  transition: background 0.3s;
}

.bt-oferta-prev:hover,
.bt-oferta-next:hover {
  background-color: #17448cb2 ;
}



.bt-oferta-next {
  right: 0px;
}

#of-slide1:checked~.bt-oferta-prev.b1,
#of-slide1:checked~.bt-oferta-next.b1 {
  display: block;
}

#of-slide2:checked~.bt-oferta-prev.b2,
#of-slide2:checked~.bt-oferta-next.b2 {
  display: block;
}

#of-slide3:checked~.bt-oferta-prev.b3,
#of-slide3:checked~.bt-oferta-next.b3 {
  display: block;
}

/*Configuracion Main Para Ti*/

.pt-slides {
  display: flex;
  transition: transform 0.5s ease;
}

.pt-1,
.pt-2,
.pt-3 {
  display: flex;
  margin: 15px 60px;
  gap: 40px;
}

.pt-slides img {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.pt-juego-text {
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  border-radius: 5px;
}

.pt-juego-text p {
  margin: 0;
  padding: 5px 15px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 175px;
}

.pt-juego-text p.pt-juego-precio {
  background-color: #c84b31;
  min-width: 50px;
  max-width: 80px;
  text-align: center;
}

#pt-slide1:checked~.pt-slides {
  transform: translateX(0%);
}

#pt-slide2:checked~.pt-slides {
  transform: translateX(-100%);
}

#pt-slide3:checked~.pt-slides {
  transform: translateX(-200%);
}

.bt-parati-prev,
.bt-parati-next {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 30px;
  padding: 8% 15px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}
.bt-parati-prev:hover,
.bt-parati-next:hover {
  background-color: #17448cb2;
} 

.bt-parati-next {
  right: 0px;
}

#pt-slide1:checked~.bt-parati-prev.b1,
#pt-slide1:checked~.bt-parati-next.b1 {
  display: block;
}

#pt-slide2:checked~.bt-parati-prev.b2,
#pt-slide2:checked~.bt-parati-next.b2 {
  display: block;
}

#pt-slide3:checked~.bt-parati-prev.b3,
#pt-slide3:checked~.bt-parati-next.b3 {
  display: block;
}

/*Configuracion Main Descubrir*/
.ds-textbox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ds-box {
  display: flex;
  flex-direction: column;
  padding: 0px 0;
  gap: 15px;
}

.ds-1,
.ds-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.ds-box img {
  width: 230px;
  height: 120px;
  object-fit: cover;
}

/*Configuracion Main Categorias*/
.ct-l-box {
  display: flex;
  list-style: none;
  background-color: #3D4450;
  font-size: 20px;
  padding: 15px 25px;
  justify-content: space-between;
  border-radius: 5px;
}

.ct-l-main {
  display: flex;
  gap: 20px;
}

.ct-elegida {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: bold;
  color: #678CDA;
}

.categorias-content {
  background-color: #3D4450;
  display: flex;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  justify-content: space-between;
}

.categorias-content p {
  margin: 0;
}

.categorias-content img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  background-color: #17448C;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.ft-up{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.ft-up a{
  text-decoration: none;
  color: #FDF9F7;
}

.ft-bot{
  display: flex;
  justify-content: center;
  border-top: 1px solid #FDF9F7;
}
/*Configuraciones adicionales para responsividad*/

/* Escritorio: mantener orden horizontal */

@media (min-width: 901px) {
  .oferta,
  .pt-1,
  .pt-2,
  .pt-3,
  .ds-1,
  .ds-2,
  .ct-l-main,
  .categorias-content,
  .ft-up {
    flex-wrap: nowrap;
  }
}

/* Móvil: permitir que se acomoden verticalmente */

@media (max-width: 900px) {
  .oferta,
  .pt-1,
  .pt-2,
  .pt-3,
  .ds-1,
  .ds-2,
  .ct-l-main,
  .categorias-content,
  .ft-up {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pt-1 {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }
  .oferta {
    overflow: hidden;
  }

}

