/*---------------------------------------------------------------------------------*/
/*---------------------------Configuracion Noticias Nuevas-------------------------*/
/*---------------------------------------------------------------------------------*/
.nt-box{
  border-radius: 5px;
  width: 1085px;
}

.nt-line{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nt-main {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 50%;
  transition: transform 0.4s;
}

.nt-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nt-over {
  position: absolute;
  bottom: 0;
  background-color: #00040e83 ;
  color: #F8FAFC;
  padding: 10px;
  font-size: 14px;
}

.nt-main:hover {
  transform: scale(1.01);
}

@media (max-width:900px) {
  .nt-box{
    margin: 0;
    width: 100%;
  }

  .nt-line{
    flex-direction: column;
  }

  .nt-main{
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

/*---------------------------------------------------------------------------------*/
/*-----------------------Configuracion Noticias Generales-------------------------*/
/*---------------------------------------------------------------------------------*/
.nt-news{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nt-new{
  background-color: #0f215a;
  color: #F8FAFC;
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  width: 100%;
  transition: background, transform 0.4s;
}

.nt-new img{
  flex-shrink: 0;
  width: 340px;
  height: 215px;
  border-radius: 5px;
  object-fit: cover;
}

.nt-new div{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 20px;
}

.nt-new .nt-title{
  font-weight: bold;
}

.nt-new:hover{
  transform: scale(1.01);
  background-color: #081233;
}

@media (max-width:900px) {
  .nt-new{
    width: 100%;
    flex-direction: column;
  }

  .nt-new img{
    width: 100%;
  }
  .nt-new p{
    display: none;
  }
  .nt-new .nt-title{
    display: block;
  }
}