/*Novedades*/
/*noticias principales "Nuevas"*/

.card-juego {
  position: relative;
  width: 350px;
  border-radius: 8px;
  overflow: hidden;
}

.card-juego img {
  width: 100%;
  display: block;
}

/* Botón superpuesto */
.btn-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(200, 200, 200, 0.85); /* gris translúcido */
  color: #1a1a1a;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;

  padding: 10px 25px;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover tipo tienda */
.btn-overlay:hover {
  background: rgba(230, 230, 230, 0.95);
  transform: translateX(-50%) scale(1.05);
}
