/*---------------------------------------------------------------------------------*/
/*------------------------------Configuracion General------------------------------*/
/*---------------------------------------------------------------------------------*/
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #00040e;
  font-family: Arial, Helvetica, sans-serif;
  color: #F8FAFC;
  margin: 0;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
}

/*---------------------------------------------------------------------------------*/
/*------------------------------Configuracion Header-------------------------------*/
/*---------------------------------------------------------------------------------*/
header {
  background-color: #09153a;
  position: sticky;
  top: 0;
  z-index: 100;
}
.main-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
header a {
  text-decoration: none;
  color: #F8FAFC;
}

/*Configuracion menu oculto para responsividad*/
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.logo{
  padding-inline: 20px;
}
/*Configuracion pagians de inicio*/
.pages ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
.pages a{
  padding: 6px;
  transition: background 0.3s ease;
}
.pages a:hover {
  background-color: #c84b31;
  border-radius: 3px;
}

/*Configuracion Header barra de busqueda*/
.buscar form input {
  border: none;
  background-color: #F8FAFC;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding: 0 20px;
}

/*Configuracion Header botones descarga y usuario*/
.buttons {
  align-items: center;
  display: flex;
  gap: 20px;
}

/*Configuracion Header usuario*/
#user-toogle {
  display: none;
}

.user-icon {
  font-size: 28px;
  cursor: pointer;
}

.button-us {
  position: relative;
  display: inline-block;
}
.user-options {
  visibility: hidden;
  position: absolute;
  top: 130%;
  right: 0;
  width: 180px;
  height: 0;
  background-color: #1F2228;
  z-index: 10;
  overflow: hidden;
}
.user-options ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.user-options li{
  padding: 10px;
  transition: background 0.3s ease;
}
.user-options li.logout{
  background-color: #f56346;
}

.user-options li:hover{
  background-color: #F8FAFC;
}
.user-options li:hover a{
  color: #191919;
}
.user-options li.logout:hover a{
  color: #f56346;
}

#user-toogle:checked+.user-icon+.user-options {
  visibility: visible;
  height: auto;
  transition: height 0.3s ease;
}

/*Configuracion Header boton descargar*/
.bt-download {
  font-size: 28px;
  border: none;
  background-color: #09153a;
  color: #FDF9F7;
  cursor: pointer;
}

.bt-login{
  border: none;
  height: 26px;
  width: 100px;
  border-radius: 3px;
  color: #F8FAFC;
  background-color: #c84b31;
  cursor: pointer;
}

.bt-login:hover{
  background-color: #fc5837;
}

/*Configuracion Header Responsividad*/

@media (max-width: 900px) {
  .bt-download{
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 28px;
  }
  @keyframes left-right{
    from{
      left: -100%;
    }
    to{
      left: 0;
    }
  }
  .pages ul {
    position: fixed;
    left: 0;
    top: 64px;
    flex-direction: column;
    background-color: #09153a;
    text-align: left;
    justify-content: top;
    width: auto;
    visibility: hidden;
    padding: 20px;
    height: 100%;
    overflow: hidden;
  }

  .buscar {
    display: none;
  }

  #menu-toggle:checked+.menu-icon+.logo+.pages ul {
    visibility: visible;
    animation: left-right 0.4s;
  }
}

/*Configuraciones adicionales para responsividad*/


/*---------------------------------------------------------------------------------*/
/*-------------------------------Configuracion Footer------------------------------*/
/*---------------------------------------------------------------------------------*/
footer {
  background-color: #09153a /*#17448C*/;
  padding-inline: 10px;
  z-index: 1;
}

.main-footer{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.ft-up {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.ft-up a {
  text-decoration: none;
  color: #FDF9F7;
}

.ft-text{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.ft-icons{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.ft-bot {
  display: flex;
  justify-content: center;
  border-top: 1px solid #FDF9F7;
}

@media (max-width:900px) {
  .ft-up{
    flex-direction: column;
    gap: 0;
  }

  .ft-icons{
    border-top: 1px solid #FDF9F7;
  }
}