/*---------------------------------------------------------------------------------*/
/*------------------------------Configuracion General------------------------------*/
/*---------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #00040e;
  font-family: Arial, Helvetica, sans-serif;
  color: #F8FAFC;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
}

/*---------------------------------------------------------------------------------*/
/*------------------------------Configuracion Header-------------------------------*/
/*---------------------------------------------------------------------------------*/
header {
  display: flex;
  justify-content: center;
  background-color: #09153a;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.icon {
  border: none;
  background-color: transparent;
  color: #F8FAFC;
  font-size: 30px;
  cursor: pointer;
}

.logo {
  border: none;
  background-color: transparent;
  color: #F8FAFC;
  cursor: pointer;
}

.menu {
  display: none;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

.pages {
  display: flex;
  gap: 10px;
}

.page {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 5px;
  background-color: transparent;
  color: #F8FAFC;
  font-size: 17px;
  text-decoration: none;
  transition: background 0.5s ease;
  cursor: pointer;
}

.page:hover {
  background-color: #c84b31;
}

.page.active {
  background-color: aqua;
}

.buscar {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding-inline: 10px;
}

.buttons{
  display: flex;
  gap: 5px;
}

.options{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 170px;
  max-height: 0;
  background-color: #00040e;
  top: 67px;
  right: 0px;
  overflow: hidden;
  transition: max-height 0.50s ease;
}
.options.activo{
  max-height: 300px;
}

.opt{
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin: 7px;
  background-color: transparent;
  color: #F8FAFC;
  font-size: 17px;
  text-decoration: none;
  transition: background 0.5s ease;
  cursor: pointer;
}
.opt:hover{
  background-color: #c84b31;
}

.logout{
  background-color: #c84b31;
}
.logout:hover{
  background-color: #F8FAFC;
  color: #c84b31;
}
.login {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #c84b31;
  color: #F8FAFC;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 900px) {
  header{
    width: 100%;
    justify-content: space-around;
  }
  .menu {
    display: block;
  }
  .bar {
    position: absolute;
    background-color: #09153a;
    padding: 15px;
    flex-direction: column;
    justify-content: initial;
    top: 67px;
    right: 0;
    width: 200px;
    height: 100rex;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .bar.activo{
    transform: translateX(0);
  }
  .pages{
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .options{
    position: relative;
    top: 0px;
    border-radius: 4px;
  }
}

/*Configuraciones adicionales para responsividad*/


/*---------------------------------------------------------------------------------*/
/*-------------------------------Configuracion Footer------------------------------*/
/*---------------------------------------------------------------------------------*/
footer {
  background-color: #09153a
    /*#17448C*/
  ;
  padding-inline: 10px;
  z-index: 1;
}

.main-footer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.ft-up {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.ft-up a {
  text-decoration: none;
  color: #FDF9F7;
}

.ft-text {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.ft-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.ft-bot {
  display: flex;
  justify-content: center;
  border-top: 1px solid #FDF9F7;
}

@media (max-width:900px) {
  .ft-up {
    flex-direction: column;
    gap: 0;
  }

  .ft-icons {
    border-top: 1px solid #FDF9F7;
  }
}