.card {
    background-color: #0f215a;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 30px;
    height: 100%;
}

.register {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.register input {
    margin-bottom: 20px;
    height: 30px;
    border: 2px solid blue;
    border-radius: 3px;
    cursor: pointer;
}
.register label {
    cursor: pointer;
}
.aceptar {
    border: 1px solid red;
    align-items: center;
    padding: 0;
}
.aceptar input{
}
.boton_f{
    margin-bottom: 0;
    background-color: #e34f14;
    color: #F8FAFC;
}