.card {
    background-color: #0f215a;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 30px;
    height: auto;
}

.register {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0;
}

.register .in-register {
    margin: 0px;
    height: 30px;
    border: 2px solid #0f215a;
    background-color: #F8FAFC;
    border-radius: 5px;
    cursor: pointer;
}
.register .in-register:hover {
    background-color: #cce3f8;
    cursor: pointer;
}
.register label {
    cursor: pointer;
    margin-top: 20px;
}
.register p{
    margin: 0;
    padding: 0;
}
#registrar {
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #c84b31;
    color: #F8FAFC;
}

#registrar:hover{
    background-color: #fc5837;
}