.library-e {
    background-color: #071642;
    width: 1000px;
    text-align: center;
    padding: 15px;
}

.library-e a {
    background-color: #c84b31;
    padding: 6px;
    border-radius: 4px;
    color: #F8FAFC;
    text-decoration: none;
    transition: background 0.4s ease;
}

.library-e a:hover {
    background-color: #fc5837;
}

.l-game {
    overflow: hidden;
    width: 300px;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

.l-game img {
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 0;
}

.l-title {
    background-color: #071642;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-title p {
    margin: 0;
}

.btn-start {
    border: none;
    background-color: #c84b31;
    padding: 6px;
    border-radius: 4px;
    color: #F8FAFC;
    text-decoration: none;
    transition: background 0.4s ease;
    cursor: pointer;
}
.btn-start:hover{
    background-color: #fc5837;
}

#library-c{
    width: 1215px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}