/*Carrito*/
/*configuracion juegos en el carro*/
.main-kart{
  display: flex;
  gap: 30px;
}
.kart{
  width: 100%;
}
.kart-game{
  display: flex;
  justify-content: space-between;
  background-color: #0f215a;
  margin: 20px 0;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}
.kart-game p, .kart-game i {
  font-size: 20px;
}
.kart-game span{
  background-color: #f56346;
  border-radius: 4px;
  padding: 3px;
  margin-right: 4px;
}
.game-k{
  display: flex;
  gap: 10px;
  align-items: center;
}
.kart img{
  width: 200px;
  height: 110px;
  object-fit: cover;
  border-radius: 5px;
}
.bt-remove{
  border: none;
  border-radius: 4px;
  background-color: #995143;
  color: #FDF9F7;
  cursor: pointer;
}
.go-shop{
  border: none;
  padding: 5px 15px;
  
  color: #FDF9F7;
  background-color: #17448C;
  cursor: pointer;
}
.go-pay{
  border: none;
  padding: 5px 15px;
  background-color: #c84b31;
  color: #FDF9F7;
  
  cursor: pointer;
}
.go-shop:hover{
  background-color: #FDF9F7;
  color: #17448C;
}
.go-pay:hover{
  color: #c84b31;
  background-color: #FDF9F7;
}
/*configuracion factura*/
.pays{
  background-color: #0f215a;
  border-radius: 4px;
  padding: 10px;
  padding-top: 0;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pays-head h3{
  border-bottom: 2px solid #FDF9F7;
}

#tax{
  text-align: justify;
}
.game-p{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c84b31;
}
.game-p p{
  margin: 5px 12px;

}
.total-p{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #FDF9F7;
}
.go-pay-2{
  border: none;
  padding: 5px 10px;
  width: 100%;
  background-color: #c84b31;
  color: #FDF9F7;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.go-pay-2:hover{
  background-color: #FDF9F7;
  color: #f56346;
}

@media (max-width: 900px){
  .main-kart{
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .pays{
    width: 90%;
  }
  .kart-game{
    flex-direction: column;
  }
  .game-k{
    flex-direction: column;
  }
  .game-k p{
    margin: 0;
  }
  .d-game-k{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .precio-k{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .kart img{
    width: 100%;
    height: 210px;
  }
}
/*configuracion parati*/
input[type="radio"]{
    display: none;
}

.carrusel {
  background-color: #040B16;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
}
.para-ti{
  margin-bottom: 10px;
}
.pt-slides {
  display: flex;
  transition: transform 0.5s ease;
}

.pt-1,
.pt-2,
.pt-3 {
  display: flex;
  margin: 15px 60px;
  gap: 40px;
}

.pt-slides img {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.pt-juego-text {
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  border-radius: 5px;
}

.pt-juego-text p {
  margin: 0;
  padding: 5px 15px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 175px;
  white-space: nowrap;
}

.pt-juego-text p.pt-juego-precio {
  background-color: #c84b31;
  min-width: 50px;
  max-width: 80px;
  text-align: center;
}

#pt-slide1:checked~.pt-slides {
  transform: translateX(0%);
}

#pt-slide2:checked~.pt-slides {
  transform: translateX(-100%);
}

#pt-slide3:checked~.pt-slides {
  transform: translateX(-200%);
}

.bt-parati-prev,
.bt-parati-next {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 30px;
  padding: 8% 15px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.bt-parati-prev:hover,
.bt-parati-next:hover {
  background-color: #17448cb2;
}

.bt-parati-next {
  right: 0px;
}

#pt-slide1:checked~.bt-parati-prev.b1,
#pt-slide1:checked~.bt-parati-next.b1 {
  display: block;
}

#pt-slide2:checked~.bt-parati-prev.b2,
#pt-slide2:checked~.bt-parati-next.b2 {
  display: block;
}

#pt-slide3:checked~.bt-parati-prev.b3,
#pt-slide3:checked~.bt-parati-next.b3 {
  display: block;
}