.main-kart {
  display: flex;
}

.kart-e {
  display: none;
}
.kart{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.kart-g {
  width: 800px;
  background-color: #0f215a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.kart-g img {
  width: 240px;
  height: 120px;
  object-fit: cover;
}

.kart-g .g-game {
  display: flex;
  align-items: center;
  gap: 20px;
}

.kart-g .g-price {
  margin-right: 20px;
}

.del-g {
  background-color: #c84b31;
  border: none;
  border-radius: 4px;
  color: #F8FAFC;
  padding: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.4px ease;
  margin-block: 10px;
}

.del-g:hover{
  background-color: #fc5837;
  transform: scale(1.01);
}

.pre-bill{
  margin: 15px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #0f215a;
}
.bill-list{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.list-g{
  display: flex;
  justify-content: space-between;
  background-color: #071642;
  padding-inline: 5px;
  border-radius: 4px;
}
.list-g p{
  margin: 5px;
}

.kart-e{
  background-color: #071642;
  width: 1000px;
  text-align: center;
  padding: 15px;
}
.kart-e a{
  background-color: #c84b31;
  padding: 6px;
  border-radius: 4px;
  color: #F8FAFC;
  text-decoration: none;
  transition: background 0.4s ease;
}

.kart-e a:hover{
  background-color: #fc5837;
}

.btn-pago{
  border: none;
  width: 100%;
  background-color: #c84b31;
  padding: 6px;
  border-radius: 4px;
  color: #F8FAFC;
  text-decoration: none;
  transition: background 0.4s ease;
}

.btn-pago:hover{
  background-color: #fc5837;
}