.game-box{
    display: flex;
    gap: 20px;
}

.game-src{
    width: 700px;
}

.game-main img{
    width: 100%;
    border-radius: 5px;
}

.gl-list{
    background-color: #0f215a;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    gap: 5px;
}

.gl-item{
    padding: 0;
    border: 0;
    background: transparent;
    height: 80px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.gl-item:hover{
    transform: scale(1.03);
}

.gl-item img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.gl-item video{
    width: 100px;
}

.game-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0f215a;
    width: 300px;
    padding: 10px;
    text-align: justify;
    align-items: center;
}

.game-card img{
    width: 100%;
}

.game-card p{
    padding-inline: 8px;
}

.game-card label{
    text-align: center;
    width: 100%;
    font-size: 25px;
    border: 2px solid #c84b31;
    color: #fc5837;
    padding-block: 5px;
}

.game-card strong{
    color: #F8FAFC;
}

.game-card span{
    text-decoration: line-through;
}

.game-card button{
    width: 100%;
    background-color: #c84b31;
    border: none;
    border-radius: 4px;
    color: #F8FAFC;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.4px ease;
    margin-block: 10px;
}

.game-card button:hover{
    background-color: #fc5837;
    transform: scale(1.01);
}

@media (max-width:900px) {
    .game-box{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .game-src{
        width: 100%;
    }
}