/*---------------------------------------------------------------------------------*/
/*--------------------------Configuracion Main Ofertas-----------------------------*/
/*---------------------------------------------------------------------------------*/

/*Ofertas*/
.of-box{
  background-color: #0f215a;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  touch-action: pan-y;
}

.of-slides{
  display: flex;
  width: 1010px;
  transition: transform 0.5s ease;
}

.oferta{
  flex-shrink: 0;
  background-color: #ffffff00;
  color: #F8FAFC;
  border: none;
  width: 970px;
  display: flex;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}

.oferta img{
  width: 670px;
  height: 380px;
  border-radius: 4px;
  object-fit: cover;
}
.of-text{
  text-align: justify;
  padding: 20px;
}

.of-text .bt-precio{
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: #F8FAFC;
  background-color: #c84b31;
  cursor: pointer;
  transition: background 0.3s;
}

.of-text .bt-precio:hover{
  background-color: #fc5837;
}

.bt{
  font-size: 40px;
  color: #F8FAFC;
  border: none;
  background-color: #0f215a;
  transition: background 0.3s;
  z-index: 1;
  cursor: pointer;
}

.bt:hover{
  background-color: #c84b31;
}

/*Responsividad*/
@media (max-width: 900px){
  main{
    max-width: 90%;
  }
  .carrusel{
    display: none;
  }
}
/*---------------------------------------------------------------------------------*/
/*------------------------------Configuracion Para Ti------------------------------*/
/*---------------------------------------------------------------------------------*/
.pt-box{
  background-color: #0f215a;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  touch-action: pan-y;
}

.pt-slides{
  display: flex;
  width: 1010px;
  transition: transform 0.5s ease;
}

.pt-slide{
  flex-shrink: 0;
  width: 970px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.pt-juego{
  border: none;
  padding: 0;
  background-color: #ffffff00;
  color: #F8FAFC;
}

.pt-juego img{
  width: 310px;
  height: 150px;
  object-fit: cover;
}

.pt-text{
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
  width: 310px;
  padding: 0;
  gap: 10px;
}

.pt-text p{
  padding: 5px;
  margin: 0;
  font-size: 17px;
}

.pt-text .pt-name{
  background-color: #040B16;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.pt-text .pt-precio{
  border: none;
  border-radius: 4px;
  color: #F8FAFC;
  background-color: #c84b31;
}
/*---------------------------------------------------------------------------------*/
/*----------------------------Configuracion Descubir-------------------------------*/
/*---------------------------------------------------------------------------------*/
.ds-textbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mas{
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 4px;
  background-color: #00040e;
}

.ds-box {
  display: flex;
  flex-direction: column;
  padding: 0px 0;
  gap: 15px;
  overflow: hidden;
}

.ds-1,
.ds-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.juego-ds {
  padding: 0;
  border: none;
  width: 230px;
  height: 120px;
  cursor: pointer;
}
.juego-ds img {
  width: 230px;
  height: 120px;
  object-fit: cover;
}

/*---------------------------------------------------------------------------------*/
/*----------------------------Configuracion Categorias-----------------------------*/
/*---------------------------------------------------------------------------------*/
.ct-box{
  background-color: #0f215a;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  touch-action: pan-y;
  margin-bottom: 20px;
}

.ct-names{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  list-style: none;
  align-items: center;
}

.ct-names .active{
  background-color: #fc5837;
}

.ct-main{
  display: flex;
  gap: 20px;
}

.ct-name{
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
}

.mas2 {
  font-size: 15px;
  padding: 5px;
  border-radius: 4px;
}

.ct-slides {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  transition: transform 0.5s ease;
}

.ct-games{
  display: flex;
  justify-content: space-between;
}

.ct-games img{
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.ct-game{
  background-color: #00040e;
  color: #F8FAFC;
  padding: 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.ct-game p{
  margin: 5px;
}