.card {
    background-color: #0f215a;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 30px;
    height: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0;
}

.login .in-login {
    margin-bottom: 0px;
    height: 30px;
    border: 2px solid #0f215a;
    border-radius: 5px;
    cursor: pointer;
}
.login label {
    cursor: pointer;
    margin-top: 20px;
}

#logear{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #e34f14;
    color: #F8FAFC;
}

.card a {
    color: #db6e43;
}