.card {
    background-color: #0f215a;
    border-radius: 5px;
    padding: 20px;
    width: 89%;
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0;
}

.login .in-login {
    margin-bottom: 0px;
    height: 30px;
    border: 2px solid #0f215a;
    border-radius: 5px;
    cursor: pointer;
}
.login .in-login:hover{
    background-color: #cce3f8;
}

.login label {
    cursor: pointer;
    margin-top: 20px;
}

#logear{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #c84b31;
    color: #F8FAFC;
}

#logear:hover{
    background-color: #fc5837;
}

#msg-log{
    margin: 0;
    padding: 0;
    color: #ee4320;
    font-size: 14px;
    padding-left: 10px;
}

.card a {
    color: #db6e43;
}