/*Novedades*/
/*noticias principales "Nuevas"*/

.noticias-box {
  display: flex;
  overflow: hidden;
  background-color: #040B16;
  border-radius: 5px;
  width: 100%;
  height: 500px;
  padding-bottom: 60px;
}

@keyframes scrollIzquierda {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.noticia-p {
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 0;
  padding: 10px 25px;
}

.noticias-box-content {
  display: flex;
  animation: scrollIzquierda 25s linear infinite;
}

.noticias-box-content:hover {
  animation-play-state: paused;
}

.noticia-p img {
  width: 800px;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .noticias-box{
    overflow: hidden;
  }

  .noticia-p img {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 40%;
  }
}

/*Noticias general*/
.noticia-g {
  background-color: #040B16;
  display: flex;
  align-items: center;
  margin: 20px 30px;
  padding: 15px;
  gap: 30px;
  border-radius: 5px;

}

.noticia-g img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .noticias-box {
    padding-bottom: 10px;
  }

  .noticia-g {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .noticia-g img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  input {
    width: 100%;
    font-size: 14px;
  }
}